@page "/"
@page "/mantenimiento"
@inject NavigationManager Navigation
@using tarea_7.Components.Data
@using tarea_7.Components.Models
@rendermode InteractiveServer

@inject DetentionContext Dc

<PageTitle>Mantenimiento</PageTitle>

<h1>Mantenimiento de detenciones</h1>

<h3>Listado de detenciones</h3>

<div class="text-end">
    <button class="btn btn-primary" @onclick="AgregarNuevo">Agregar Nuevo</button>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Fecha de Detención</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Pasaporte</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Coordenadas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detention in ListaDetentions)
        {
                <tr>
                    <td>@detention.DetentionDate</td>
                    <td>@detention.Name</td>
                    <td>@detention.LastName</td>
                    <td>@detention.PassportNumber</td>
                    <td>@detention.BirthDate</td>
                    <td>@detention.Coordenadas()</td>
                    <td>
                     <button class="btn btn-warning" @onclick="() => EditDetention(detention.Id)">Editar</button>
                    @* <button class="btn btn-danger"  @onclick="() => DeleteDetention(detention)">Eliminar</button> *@
                    </td>
                </tr>
        }
    </tbody>
</table>

@code {
    public List<ClaseDetencion> ListaDetentions = new List<ClaseDetencion>();

    private void AgregarNuevo()
    {
        Navigation.NavigateTo("/mantenimiento/editar/0");
    }

    private void EditDetention(int id) 
    { 
        Navigation.NavigateTo($"/mantenimiento/editar/{id}"); 
    }

    // Simular la carga de datos
    protected override void OnInitialized()
    {
        ListaDetentions = Dc.clasedetencion.ToList();
        
    }
}
